.DS_Store
node_modules/
dist/
npm-debug.log*
debug.log*
error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea

### VS Code ###
.vscode

*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
